<div id=D__ID></d>
	<div id=form_container__ID>
		<div id=header__ID>
			Participant
		</div>
		<form id=F__ID>
			<div class="container">
				<div class='row row__ID row_participant__ID'>
					<div class="col">
						<span>ASTN ID</span>
						<input type=text class=form-control id=record__ID readonly >
					</div>
				</div>
				<div class='row row__ID'>
					<div class="col-sm col-lg-6">
						<span>Local ID</span>
						<input type=text class=form-control name=Local_ID>
					</div>
				</div>
				<div class='row row__ID'>
					<div class="col-sm col-lg-6">
						<span>Initials</span>
						<input type=text class=form-control name=Initials>
					</div>
				</div>
				<br>
				<div class="row">
					<div class=col>
						<button id=submit__ID type="submit" class="btn btn-secondary">Submit</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	<script>
		function F__ID(){
			//-------------------------------------
			VmInclude:__COMPONENT__/f/form.01.js
			//-------------------------------------
			var load=m.load;
			m.load=function(){
				load();
				if(m.input.record==undefined){
					$('.row_participant__ID').hide()
					$('#F__ID input[name=_Password').val($vm.vm_password(8,false));
				}
				else{
					$('.row_participant__ID').show()
					$('#record__ID').val(m.input.record.UID)
				}
			}
			//-------------------------------------
            $('#F__ID input[name=Randomisation_Number]').on('click',function(){   
				var I2=$('#F__ID input[name=Randomisation_Number').val();
				if(I2==''){
					$vm.request({cmd:"find",table:m.Table,sort:{I2:-1},skip:0,limit:1},function(res){
						if(res.sys.permission==false){
							$vm.alert("No permission. Private database table, ask the table's owner for permissions.");
							return;
						}
						var max_I2=0;
						if(res.result.length>0) {
							if(res.result[0].I2!==undefined) max_I2=res.result[0].I2
						}
						max_I2++;
						$('#F__ID input[name=Randomisation_Number').val(max_I2);
						$('#F__ID input[name=Randomised_by').val($vm.user_name);
					})
				}
			})
			//-------------------------------------
			m.before_submit=function(data,index){
				index.I1=$vm.astn_current_project_record.Data.Site+"-"+$vm.astn_current_project_record.UID;
				var I2=$('#F__ID input[name=Randomisation_Number').val();	if(I2!='' && I2!='-') index.I2=parseInt(I2);
			}
			//-------------------------------------
		}
	</script>
	<style>
        #form_container__ID{
            max-width:700px;
        }
		VmInclude:__COMPONENT__/f/form.01.css
	</style>
</div>