<div class='nav__ID'>
    <span>Project Questionnaires</span>
    <ul>
        <li id=Consent__ID><a href=?/background-information-astn-data>Background Information</a></li>
        <li><a href=?/general-astn-data>General</a></li>
        <li><a href=?/ethnicity-self-astn-data>Ethnicity</a></li>
        <li><a href=?/lifestyle-astn-data>Lifestyle</a></li>
        <li><a href=?/medical-history-astn-data>Medical History</a></li>
        <li><a href=?/sleep-disorder-patterns-astn-data>Sleep HQDP</a></li>
        <li><a href=?/sleep-hygiene-index-astn-data>Sleep Hygiene Index</a></li>
        <li><a href=?/social-history-data-apap>Sleep History</a></li>
        <li><a href=?/medications-astn-data>Medications</a></li>
        <li><a href=?/rec-drug-astn-data>Recreational Drugs</a></li>
        <li><a href=?/ess-astn-data>Epworth Sleepiness Scale</a></li>
        <li><a href=?/map-astn-data>Multivariate Apnea Prediction Questionnaire</a></li>
        <li><a href=?/isi-astn-data>Insomnia Severity Index</a></li>
        <li><a href=?/restless-leg-astn-data>Restless Legs</a></li>
        <li><a href=?/me-astn-data>Horne & &#214;stberg Morningness-Eveningness Composite Questionnaire</a></li>
        <li><a href=?/fosq-astn-data>Functional Outcomes of Sleep Questionnaire</a></li>
        <li><a href=?/psqi-astn-data>Pittsburgh Sleep Quality Index</a></li>
        <li><a href=?/phq-astn-data>Patient Health Questionnaire (PHQ-9)</a></li>
        <li><a href=?/gad7-astn-data>Generalised Anxiety Disorder (GAD-7)</a></li>
        <li><a href=?/dass-astn-data>Depression Anxiety Stress Scale (DASS-21)</a></li>
        <li><a href=?/fss-astn-data>Fatigue Severity Scale (FSS)</a></li>
        <li><a href=?/sds-astn-data>Sheehan Disability Scale (SDS)</a></li>
        <li><a href=?/hwpq-astn-data>Health & Work Performance Questionnaire</a></li>
        <li><a href=?/shiftwork-astn-data>Shiftwork</a></li>
        <li><a href=?/shiftworkii-astn-data>Shiftwork II</a></li>
        <li><a href=?/mva-astn-data>Motor Vehicle Accidents</a></li>
        <li><a href=?/wa-astn-data>Workplace_Accidents</a></li>
        <li><a href=?/xxx>Thank You</a></li>
        <p class="small font-italic text-muted mt-1"></p>
    </ul>
</div>
